
.sidebarmain {
    display: flex;
    position: fixed;
    width: 14%;
    /* height: 100%; */
    border: 1px solid  gainsboro;
    background-color: #f8f9fa;
    max-height: 650px;
}

.sideberdiv1 {
    background-color: #2db67e;
    width: 8px;
    height: 100%;
}
.sideberdiv2 {
    background-color : #f8f9fa;
    width: 100%;
    height: 100%;
}

.icon1 {
    display: flex;
    margin-top: 20px;
    margin-left: 14px;
 margin-bottom: 20px; 
}

.icon1 > img {
    margin-left: 10px;
}
.icon2 {
    display: flex;
    width: 100%;
    margin-top: 0;
    /* margin-left: 0; */
    color: #395f77;
  
    /* background-color: aqua; */
    /* border: 1px solid red; */
    height: 40px;
}

.icon2 > p {
   margin-left: 23px;
   font-size: large;
    padding-top: 5px;
   margin-top: 0px;
   line-height: 25px;

   
}
.icon3 {
    display: flex;
    width: 100%;
    margin-left: -20px;
    margin-top: 0;
    /* margin-left: 0; */
    color: #395f77;
    /* background-color: aqua; */
    /* border: 1px solid red; */
    height: 40px;
}

.icon3 > p {
   margin-left: 20px;
   font-size: large;
    padding-top: 5px;
   margin-top: 0px;
   line-height: 25px;
   
    /* pointer-events: all; */
  
}

.pro {
    margin-top: 170px;
    width: 100%;
    background-color:  #dceefa
}
.pro > h1 {
    font-size: 20px;
    text-align: start;
    margin-left: 10px;
    color: #235270;
    padding-bottom: 10px;
}
.pro > p {
    padding-top: 10px;
    font-size: 18px; 
    text-align: start;
    color: #395f77;
    margin-left: 10px;
}




